{{define "title"}}<title>Pelanggan</title>{{end}}
{{define "content"}}

  <div class="content" ng-app="App" ng-controller="Controller">
    <div class="box primaryColorBackground">
      <h1 style="float:left;" class="textColor">
        <span class="glyphicon glyphicon-user"></span>
        Pelanggan
      </h1>
    </div>

    <input class="searchBox" type="text" placeholder="Cari..." name="" value="">
    <span style="font-size:20px;color:#000;float:left;margin-left:-50px;margin-top:15px;" class="glyphicon glyphicon-search">
    </span>
    <div class="tbl-wrapper">
      <table class="tbl-vertical-v1 darkPrimaryColorBackground">
        <tr>
          <td>Nama Pelanggan</td>
        </tr>

        <tr>
          <td>Afif</td>
        </tr>
        <tr>
          <td>Aqil</td>
        </tr>
        <tr>
          <td>Shodiq</td>
        </tr>

      </table>
    </div>


  </div>

  <script type="text/javascript">
    const app = angular.module("App",[])

    app.controller("Controller",function($scope){
      $scope.name = "afif"
    })

    app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('((');
      $interpolateProvider.endSymbol('))');
    });
  </script>



{{end}}
