{{define "title"}}<title>Pelanggan</title>{{end}}
{{define "content"}}

  <div class="content" ng-app="App" ng-controller="Controller">
    <div class="box primaryColorBackground">
      <h1 style="float:left;  font-family: Roboto;"  class="textColor">
        <span class="glyphicon glyphicon-user"></span>
        Pelanggan
      </h1>
    </div>

    <input class="searchBox" type="text" placeholder="Cari..." name="" value="">
    <span style="font-size:20px;color:#000;float:left;margin-left:-50px;margin-top:15px;font-weight:bolder;" class="glyphicon glyphicon-search">
    </span>
    <div class="tbl-wrapper">
      <table class="tbl-vertical-v1 darkPrimaryColorBackground">
        <tr>
          <td>Nama Pelanggan</td>
          <td>
            <button type="button" class="glyphicon glyphicon-plus-sign btn-medium-v1"  name="button"></button>
          </td>
        </tr>

        <tr ng-repeat="c in customers">
          <td>((c.customer_name))</td>
          <td>
            <button type="button" class="glyphicon glyphicon-edit btn-medium-v1"  name="button"></button>
            <button type="button" class="glyphicon glyphicon-eye-open btn-medium-v1"  name="button"></button>

          </td>
        </tr>

      </table>
    </div>


  </div>

  <script type="text/javascript">
    const app = angular.module("App",[])

    app.controller("Controller",function($scope){
      $scope.name = "afif"
      $scope.customers = []
      $scope.customers.push({"customer_name" : "Afif"})
      $scope.customers.push({"customer_name" : "Shodiq"})
      $scope.customers.push({"customer_name" : "Miftah"})
      $scope.customers.push({"customer_name" : "Mila"})
      $scope.customers.push({"customer_name" : "Syauqi"})
      $scope.customers.push({"customer_name" : "Aila"})
      $scope.customers.push({"customer_name" : "Eva"})


    })

    app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('((');
      $interpolateProvider.endSymbol('))');
    });
  </script>



{{end}}
