{{define "title"}}<title>Pelanggan</title>{{end}}
{{define "content"}}

  <div class="content" ng-app="App" ng-controller="Controller">
    <div class="container">
      <div class="box">
        <h1 style="float:left;  font-family: Roboto;"  class="textColor">
          <span class="glyphicon glyphicon-user"></span>
          Pelanggan
        </h1>
      </div>
      <form ng-submit="searchCustomers()" class="" method="post">
        <input class="searchBox" ng-model="customerSearchQuery" type="text" placeholder="Cari..." name="" value="">
      </form>
      <span style="font-size:20px;color:#03A9F4;float:left;margin-left:-50px;margin-top:15px;font-weight:bolder;" class="glyphicon glyphicon-search">
      </span>
      <table id="customer_list_tbl" style="width:100%" class="tbl-vertical-v1 darkPrimaryColorBackground customerList">
        <tr style="font-weight:bolder;">
          <td width="60%">Nama Pelanggan</td>
          <td width="40%" style="text-align:right;">
            <button ng-click="goToCreateCustomer()" type="button" class="glyphicon glyphicon-plus-sign btn-medium-v1"  name="button"></button>
          </td>
        </tr>
          <tr id="customer_((c.id))" ng-repeat="c in customers">

            <td>((c.name))</td>
            <td style="text-align:right;">
              <button type="button" class="glyphicon glyphicon-edit btn-medium-v1" ng-click="goToUpdateCustomer(c)"  name="button"></button>
              <button ng-click="viewCustomer(c)" type="button" class="glyphicon glyphicon-eye-open btn-medium-v1"  name="button"></button>
            </td>
          </tr>
        <tr ng-if="previousCustomersLink != '' || nextCustomersLink != ''">
          <td>
            <button ng-if="previousCustomersLink != ''"  ng-click="getPreviousCustomers()" type="button" class="glyphicon glyphicon-arrow-left btn-medium-v1" name="button"></button>
          </td>
          <td style="text-align:right;">
            <button ng-if="nextCustomersLink != '' " ng-click="getNextCustomers()" type="button" class="glyphicon glyphicon-arrow-right btn-medium-v1" name="button"></button>
          </td>
        </tr>

      </table>
    </div>

    <div class="container">

      <div class="" ng-view style="margin-left:80px;width:90%;">

      </div>
    </div>


  </div>

  <script type="text/javascript">
    const app = angular.module("App",['ngRoute'])
    window.onload = function() {
      window.location.href = "http://localhost:345/pelanggan#!/"
    }
    app.controller("Controller",function($scope,$http,$sce){

      $scope.customerSearchQuery = ""
      $scope.viewedCustomer = {} // customer to be viewed
      $scope.customerSelectedToUpdate = {} // customer to be updated
      $scope.customers = []
      $scope.selectedItem = null
      $scope.customerShowLimit = 4
      $scope.nextCustomersLink = ''
      $scope.previousCustomersLink = ''
      $scope.defaultCustomersLink = "http://localhost:444/api/customers?limit="+$scope.customerShowLimit
      $scope.currentCustomersLink = $scope.defaultCustomersLink
      $scope.getNextCustomers = function() {
        window.location.href = "http://localhost:345/pelanggan#!/"
        $scope.currentCustomersLink = $scope.nextCustomersLink
        $scope.getCustomers();
      }

      $scope.getPreviousCustomers = function() {
        window.location.href = "http://localhost:345/pelanggan#!/"
        $scope.currentCustomersLink = $scope.previousCustomersLink
        $scope.getCustomers();
      }

      $scope.getCustomers = function(){
          $http.get($scope.currentCustomersLink).then(function(res){
            $scope.customers = res.data.result
            $scope.nextCustomersLink = res.data.next
            $scope.previousCustomersLink = res.data.previous
          })
      }
      $scope.searchCustomers = function() {
        $scope.currentCustomersLink = $scope.defaultCustomersLink+"&s=" + $scope.customerSearchQuery
        $scope.getCustomers()
        window.location.href = "http://localhost:345/pelanggan#!/"
      }
      $scope.viewCustomer = function(customer) {
        $scope.viewedCustomer = JSON.parse(JSON.stringify(customer))
        $scope.selectedItem = JSON.parse(JSON.stringify(customer))

        if(document.getElementsByClassName('selectedItem').length > 0){
            document.getElementsByClassName('selectedItem')[0].removeAttribute('class')
        }
        document.getElementById('customer_' + $scope.selectedItem.id).setAttribute('class','selectedItem')

        window.location.href = "http://localhost:345/pelanggan#!/lihatPelanggan"
      }
      $scope.goToCreateCustomer = function() {
        if(document.getElementsByClassName('selectedItem').length > 0){
            document.getElementsByClassName('selectedItem')[0].removeAttribute('class')
        }

        window.location.href = "http://localhost:345/pelanggan#!/tambahPelanggan"
      }

      $scope.goToUpdateCustomer = function(customer) {
        // copy customer without refference
        $scope.customerSelectedToUpdate = JSON.parse(JSON.stringify(customer))

        $scope.selectedItem = JSON.parse(JSON.stringify(customer))


        // refference is used to easily update the updated customer in customer's array
        $scope.selectedCustomerRefference = customer

        if(document.getElementsByClassName('selectedItem').length > 0){
            document.getElementsByClassName('selectedItem')[0].removeAttribute('class')
        }
        document.getElementById('customer_' + $scope.selectedItem.id).setAttribute('class','selectedItem')

        window.location.href = "http://localhost:345/pelanggan#!/ubahPelanggan"
      }

      $scope.getCustomers()

      $scope.goToPrintAlamat = function(customer) {
        localStorage.setItem("customerStorage",JSON.stringify(customer))
        window.open("/printAlamat")
      }
    })


    app.config(function($routeProvider) {
      $routeProvider
      .when("/", {
        templateUrl : "spaViews/tambahPelanggan.html",
        controller : "TambahPelangganController"
      })
      .when("/lihatPelanggan", {
        templateUrl : "spaViews/lihatPelanggan.html",
        controller : "LihatPelangganController",
      })
      .when("/tambahPelanggan", {
        templateUrl : "spaViews/tambahPelanggan.html",
        controller : "TambahPelangganController"
      })
      .when("/ubahPelanggan", {
        templateUrl : "spaViews/ubahPelanggan.html",
        controller : "UbahPelangganController"
      });
    });

    app.controller("LihatPelangganController",function($scope,$http){
      // deleteCustomer delete customer by id

      $scope.showCustomerDeleteConfirmation = function(customer) {
        var blackScreen = document.createElement('div')
        var modal = document.createElement('div')

        hideDeleteConfirmation = function() {
          document.body.removeChild(blackScreen)
          document.body.removeChild(modal)
        }
        deleteCustomer = function() {
          $http({
            method : "DELETE",
            url : "http://localhost:444/api/customers/" + customer.id,
          }).then(function(){
            $scope.getCustomers()
          })
          hideDeleteConfirmation()
        }
        modal.innerHTML = `
          <table>
            <tr>
              <td><h3>Apakah anda benar-benar akan menghapus pelanggan ini?</h3></td>
            </tr>
            <tr>
              <td>
                <button type='button' onclick='deleteCustomer()'  class='btn-medium-v2'  name="button">Ya</button>
                <button type='button' onclick='hideDeleteConfirmation()' class='btn-medium-v2'  name="button">Tidak</button>
              </td>
            </tr>
          </table>
        `

        blackScreen.setAttribute('class','blackScreen')

        modal.setAttribute('class','modal-v1')


        blackScreen.onclick = hideDeleteConfirmation
        document.body.appendChild(blackScreen)
        document.body.appendChild(modal)
      }


    })


    app.controller("TambahPelangganController",function($scope,$http){
      $scope.addCustomer = function(){
        $http({
          method : "POST",
          url : "http://localhost:444/api/customers",
          data : {
            customerName : $scope.customerName,
            customerInformation : $scope.customerInformation,
          },
          headers : {
            "Content-Type" : "application/x-www-form-urlencoded"
          }
        }).then(function(){
          $scope.viewedCustomer.name = $scope.customerName
          $scope.viewedCustomer.information = $scope.customerInformation
          $scope.$parent.customerSearchQuery = $scope.customerName
          $scope.searchCustomers()
          window.location.href="/pelanggan#!/lihatPelanggan"
        })
      }
    })

    app.controller("UbahPelangganController",function($scope,$http){
      $scope.updateCustomer = function() {
        $http({
          method : "POST",
          url : "http://localhost:444/api/customers/" + $scope.customerSelectedToUpdate.id,
          data : {
            newCustomerName : $scope.customerSelectedToUpdate.name,
            newCustomerInformation : $scope.customerSelectedToUpdate.information,
          },
          headers : {
            "Content-Type" : "application/x-www-form-urlencoded"
          }
        }).then(function(){
          $scope.selectedCustomerRefference.name = $scope.customerSelectedToUpdate.name
          $scope.selectedCustomerRefference.information = $scope.customerSelectedToUpdate.information
          $scope.viewedCustomer.name = $scope.selectedCustomerRefference.name
          $scope.viewedCustomer.information = $scope.selectedCustomerRefference.information
          window.location.href="/pelanggan#!/lihatPelanggan"
        })
      }


    })


    app.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('((');
      $interpolateProvider.endSymbol('))');
    });

  </script>



{{end}}
