<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/roboto.css">

  </head>
  <body bgcolor="#ff0ff0">
    <table class="tbl-alamat">
      <tr>
        <td class="td-caption">Pengirim</td>
      </tr>
      <tr>
        <td></td>
      </tr>

      <tr>
        <td class="td-caption">Penerima</td>
      </tr>
      <tr>
        <td></td>
      </tr>

    </table>
  </body>
</html>
<style >
  .tbl-alamat .td-caption {
    font-weight:bold;
    color:#000;

  }
  .tbl-alamat td {
    font-family:roboto;
    padding:10px;
    color:#000;
    border:solid 1px #ccc;
  }

</style>
