<html ng-app="PrintAddressApp" ng-controller="PrintAddressController" lang="en" dir="ltr">
  <head >
    <meta charset="utf-8">
    <title>Print Alamat</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/roboto.css">
    <script src="assets/angular/angular.js" charset="utf-8"></script>
  </head>
  <body bgcolor="#ff0ff0">
    <center>
      <img class="logo-1" src="http://localhost:345/assets/images/logosamase.png" alt="">
    </center>
    <table class="tbl-alamat">
      <tr>
        <td class="td-caption">Pengirim</td>
      </tr>
      <tr>
        <td>
          <h1>Muhammad Afif</h1>
          0823-8433-7698
        </td>
      </tr>

      <tr>
        <td class="td-caption">Penerima</td>
      </tr>
      <tr>
        <td>
          <h1>((customer.name))</h1>
          <p style="white-space: pre-wrap;" ng-bind="customer.information">
          </p>
        </td>
      </tr>

      <tr>
        <td class="td-caption">Ekspedisi</td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>

    </table>
  </body>
</html>
<script type="text/javascript">
  const app = angular.module("PrintAddressApp",[])

  app.controller("PrintAddressController",function($scope,$http,$sce){
    $scope.customer = JSON.parse(localStorage.getItem("customerStorage"))
  })

  app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('((');
    $interpolateProvider.endSymbol('))');
  });
</script>

<style >
  .tbl-alamat {
    width: 100%;
    border-bottom: solid 5px #ccc;
    border-right: solid 4px #ccc;
    margin-top: 20px;
  }
  .tbl-alamat .td-caption {
    font-weight:bold;
    color:#000;

  }
  .tbl-alamat td {
    font-size: 30px;
    font-family:roboto;
    padding:12px;
    color:#000;
    border:solid 1px #ccc;
  }

</style>
