<!DOCTYPE html>
<html  lang="en" dir="ltr">
  <head>
    <script src="assets/angular/angular.js" charset="utf-8"></script>
    <!-- <link rel="stylesheet" href="http://localhost:345/assets/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/template.css">
    <link rel="stylesheet" href="/assets/css/content.css">
    <meta charset="utf-8">
    {{template "title"}}
  </head>
  <body class="primaryColorBackground">
    <div class="leftside darkPrimaryColorBackground">
      <nav class="menu">
        <ul>
          <li class=" item  fontSize18px textColor boldFont robotoFont">
            <span style="width:20px;height:20px;" class="	glyphicon glyphicon-user"></span>
            <a href="#">
              Pelanggan
            </a>
          </li>

          <li class=" item  fontSize18px textColor boldFont robotoFont">
            <span style="width:20px;height:20px;" class="	glyphicon glyphicon-wrench"></span>
            <a href="#">Pengaturan</a>
          </li>

        </ul>
      </nav>
    </div>

    {{template "content"}}


    <!-- <h1>This is template</h1>
      {{template "content" .}} -->
  </body>
</html>
