.box {
  padding: 5px;
  border-radius: 5px;
  float: left;
  width: 100%;
}
.content {
  float: left;
  margin-left: 230px;
  margin-top: 30px;
  width: 80%;
}
.searchBox {
  box-shadow: 2px 2px 8px  #ccc;
  width: 500px;
  background: #fff;
  float: left;
  padding: 12px 12px 12px 20px;
  color: #000;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 100px;
  border: solid 1px #ccc;
}

::placeholder {
  color: #000;
}

.tbl-vertical-v1 td {
  padding: 10px 20px 10px 20px ;
  margin: 5px;
  border-bottom: solid 1px #ccc;

}

.tbl-vertical-v1 tr:first-child td {
  font-weight: bolder;
  border-bottom: solid 1px #ccc;
}
.tbl-wrapper {
  float: left;
  width: 100%;
}

.tbl-vertical-v1 {
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  font-family: roboto;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  box-shadow: 2px 2px 8px 2px #ccc;

}
.btn-medium-v1 {
  color:#000;
  padding: 8px;
  font-size: 20px;
  border:none;
  background: none;
  border-radius: 5px;
  font-weight: bolder;
}
