.leftside {
  width: 200px;
  height: 2000px;
  position: fixed;
  box-shadow: 2px 2px 8px #ccc;
}
* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  color: #000;
}
body {
  background:#CFD8DC;
}
.primaryColorBackground {
  background: #fff;
}
.darkPrimaryColorBackground {
  background: #fff;
}
.textColor {
  color: #000;
}

.boldFont {
  font-weight: bold;
}

.robotoFont {
  font-family: roboto;
}
.menu {

}
.menu .item{
  margin: 20px;
  list-style-type: none;
}

.menu .item a {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}

.fontSize20px {
  font-size: 20px;
}
.fontSize18px {
  font-size: 18px;
}
