<h1 style="color:#455A64;margin-top:90px;">
  Lihat Pelanggan
</h1>
<table class="tbl-horizontal-v1">
  <tr>
    <td class="caption">Nama Pelanggan</td>
  </tr>

  <tr>
    <td>
      ((viewedCustomer.name))
    </td>
  </tr>

  <tr>
    <td class="caption">Informasi Pelanggan</td>
  </tr>
  <tr>
    <td>
      <p style="white-space: pre-wrap;" ng-bind="viewedCustomer.information">
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="showCustomerDeleteConfirmation(viewedCustomer)" type="button" class="btn-medium-v2"  name="button">HAPUS</button>
      <button class="btn-medium-v2" type="button" ng-click="goToPrintAlamat(viewedCustomer)" name="button">KERTAS ALAMAT</button>
      <button class="btn-medium-v2" type="button" name="button">SURAT JALAN</button>
    </td>
  </tr>
</table>
