<h1 style="color:#455A64;margin-top:90px;">
  Tambah Pelanggan
</h1>

<form  ng-submit="addCustomer()">
  <table  class="tbl-horizontal-v1" >
    <tr>
      <td class="caption">Nama Pelanggan</td>
    </tr>

    <tr>
      <td>
        <input type="text" required="true" class="form-control" ng-model="customerName" value="">
      </td>
    </tr>

    <tr>
      <td class="caption">Informasi Pelanggan</td>
    </tr>
    <tr>
      <td>
        <textarea style="white-space: pre-wrap;" name="name" rows="8" class="form-control" ng-model="customerInformation"></textarea>
      </td>
    </tr>
    <tr>
      <td>
        <button class="btn-medium-v2" type="submit" name="button">TAMBAH PELANGGAN</button>
      </td>
    </tr>
  </table>
</form>
